.side-template{
	padding: 3rem 1.5rem;
    text-align: center;
}

.display-none{
	display: none;
}

/* BUTTON STYLES */
.btn{
	margin: 2px;
	padding: 3px 6px;
	/*width: 100px;*/
	/*max-width: 110px;*/
	font-size: 13px;
	border-radius: 5px;
	background-color: #e4ede6;
	border: 1px  solid;
}

.btn:hover{
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.btn:active{
	transform: translate(-1px);
}

.btn-green{
	border-color: rgba(17, 191, 110, 0.9);
}

/*leaves*/

.leavesContainer{
	display: flex; flex-direction: row-reverse; justify-content: center;
}

.fa-leaf{
	color: #5A6268;
	padding: 3px;
	margin: 2px;
	-webkit-transition: .7s ease-in-out;
}

.fas:hover{
	transform: translateY(-1px);
	
}

/*grey*/
.grey{
	color: #5A6268;
}
/*green*/
.green{
	color: rgba(17, 191, 110, 0.9);
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	animation-direction: reverse;
}

/*Hide radio button*/
.leaves {
    display:none
}